.eBay-dash {
    width: 80vw;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(124, 222, 255));
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.eBay-nav {
    min-height: 100vh;
    width: 50vw;
    background-image: linear-gradient(rgb(227, 249, 255), rgb(88, 207, 236));
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 50px;

}

.eBay-nav > h1 {
    height: 40px;
    width: 50vw;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(119, 149, 255));
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: white;
}

.back {
    font-size: 18px;
    margin: 5px;
}

.eBay-nav >h2 {
    font-size: 22px;
    margin: 10px 20px;
}
.eBay-nav >p{
    font-size: 18px;
    margin-bottom: 20px;
    margin: 10px;
    line-height: 1.25;
}

.eBay-step-list {  
    height: 35vh;
    width: 48vw;
    background: rgb(201, 243, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 10px;
    color: pink;
}
.eBay-steps{
    border-bottom: 1px solid black;
    color: rgb(61, 61, 61);
    opacity: .7;
    margin-left: 10px;
    margin-right: 10px;
}

.eBay-steps:hover {
    color: rgb(0, 0, 0);
    opacity: 1;
    
}