.navbar {
    height: 70px;
    width: 80vw;
    background: rgb(0, 156, 204);
    border-radius: 10px;
    margin-top: 15px;
}

.logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}
.dash-links{
    margin-top: 20px;
    font-size: 22px;
    text-shadow:.75px .75px #000000;
    color: rgb(255, 255, 255);
}
.dash-links:hover{
    font-size:24px;
    color: rgb(0, 225, 255);
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    background: rgb(65, 80, 218);
    padding: 2px;

}

.logout-btn {
    height: 35px;
    width: 100px;
    margin-top: 17px;
    border-radius: 10px;
}